* {
    margin: 0px;
    padding: 0px;
}
.contenedor {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}

/************CABECERA HOME*********************/

.logo {
    width: 200px;
}
.site-header{
    background-image: url(/img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.contenido-header{
    position: relative;
}


.barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.enlaces-menu{
    background-color: rgb(50, 135, 205);
    clip-path: circle(0% at 100% 0); 
    transition: clip-path ease-in-out 700ms;
}
.menu-crece {
    
    height: 100vh;
    clip-path: circle(140% at 100% 0);
    
}
.lista-menu{
   position: absolute;
    list-style-type: none;
    text-align: center;
    margin-top: -90px;
    width: 100%;

}

.lista-menu li{
      margin: 40px;
      padding-top: 30px;
  }
.lista-menu li a{
      color: white;
      text-decoration: none;
      font-size: 20px;
  }
.boton{
    background-color: transparent;
    border: none;
    color: white;
font-size: 40px;
    z-index: 1;
}

#titulo-home{
    margin-top: 380px;
    color: white;
}

/************SOBRE NOSOTROS*********************/

img {
    max-width: 100%;
}
.contenedor h2{
    padding: 20px;
    text-align: center;
}
.icono{
    text-align: center;
    margin-bottom: 40px;
}